@import "tailwindcss";


*{
  font-family: var(--font-sans) !important;
}


body {
  color: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: none;
  white-space: inherit;
  word-wrap: break-word;

}
